*.lo
*.o
*.la
*.al
*.a
*.so
\#
am--include-marker
Makefile
Makefile.in
.deps/
.libs/
/acinclude.m4
/aclocal.m4
/autom4te.cache
/compile
/missing
/stamp-h1
/config.*
/configure
/depcomp
/install-sh
/libtool
/*.pc
/*config.h
/*config.h.in
/configure~

# execuatable

incore-data/incore-data
incore-data/png_pics.inc
incore-data/unifont_160_50.c
complexscripts/complexscripts
commlcd/commlcd
ctrl_dlg/ctrl_dlg
dbuff/dbuff
font_text/font_text
graphics/graphics
graphics/graphicsex
housekeeper/housekeeper
lf_skin/lf_skin
look_feel/look_feel
mgeff/animation/animation_async
mgeff/animation/animation_callback
mgeff/animation/animation_control
mgeff/animation/animation_curve
mgeff/animation/animation_setcontext
mgeff/animation/animation_setproperty
mgeff/animation/animation_sync
mgeff/animation/animation_window
mgeff/animation/effector
mgeff/animation/effector_custom
mgeff/animation/group_animation_parallel
mgeff/animation/group_animation_sequential
mgeff/ball/ball
mgeff/banner/banner
mgeff/btnshow/btnshow
mgeff/curve/curve
mgeff/custom-effector/custom-effector
mgeff/effector/effector
mgeff/image-box/image-box
mgeff/particle-sys/particle-sys
mgncs/button
mgncs/checkbutton
mgncs/colorbutton
mgncs/combobox
mgncs/container
mgncs/data_binding
mgncs/data_source
mgncs/edit
mgncs/event_listener
mgncs/helloworld
mgncs/helloworld_dlgbox
mgncs/helloworld_domodal
mgncs/iconview
mgncs/listbox
mgncs/listview
mgncs/menubutton
mgncs/monthcalender
mgncs/panel
mgncs/progressbar
mgncs/propsheet
mgncs/radiogroup
mgncs/resmgr
mgncs/scrollbar
mgncs/scrollview
mgncs/spinbox
mgncs/spinner
mgncs/timer
mgncs/trackbar
mgncs/wnd_template
mgplus/brush/brushtest
mgplus/colorcomposite/colorcompositetest
mgplus/glyphoutline/glyphoutline
mgplus/path/pathtest
mgplus/pen/pentest
mgplus/src/blinds
mgplus/src/coverflow
mgplus/src/cubicrotate
mgplus/src/gradientdemo
mgplus/src/lion_test
mgplus/src/mgcompositedemo
mgplus/src/mgglyph_outline
mgplus/src/mgplus_efficiency
mgplus/src/mgplustest
mgplus/worldtransform/worldtransform
mgutils/mywins/mywins
mgutils/notebook/notebook
mgutils/painter/painter
mgutils/picview/picview
mgutils/skin/skindemo
mgutils/templates/colorseldlg
mgutils/templates/fileopendlg
mgutils/templates/fontseldlg
mgutils/templates/infoshowdlg
mgutils/vcongui/vcongui
minesweeper/minesweeper
same/same
src/animation
src/bitblt
src/bmpbkgnd
src/button
src/capture
src/caretdemo
src/combobox
src/coolbar
src/createicon
src/cursordemo
src/dialogbox
src/drawicon
src/edit
src/fminigui
src/gridview
src/gridview_ext
src/helloworld
src/iconview
src/input
src/listbox
src/listview
src/loadbmp
src/menubutton
src/monthcal
src/mycontrol
src/newtoolbar
src/nr_window
src/painter
src/progressbar
src/propsheet
src/scalerbmp
src/scrollbar
src/scrollbar_ctrl
src/scrolltest
src/scrollview
src/scrollwnd
src/scrollwnd2
src/simplekey
src/spinbox
src/static
src/stretchblt
src/textedit
src/timeeditor
src/trackbar
src/treeview
tests/basicshapingengine
tests/bidicharactertest
tests/biditest
tests/complexshapingengine
tests/createlayoutinfo
tests/createlogfontex
tests/createtextrunsinfo
tests/drawglyphstringex
tests/sliceallocator
tests/ucd/
tests/ustrgetbreaks
mginit/mginit
src/mginit
src/scrnsaver

